<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TeamServer" value=""/>
        <add key="TeamProject" value=""/>
        <add key="WorkItemType" value=""/>
        <add key="DoNotShowOptionsDialogAgain" value="false"/>
        <add key="DefaultImageName" value="CropperImage"/>
        <add key="DefaultOutputExtension" value="png"/>
        <add key="DefaultAttachmentComment" value="Attached by Cropper TFSWorkItem plugin."/>
        <add key="OpenImageInEditor" value="false"/>
        <add key="ImageEditor" value="mspaint"/>
    </appSettings>
</configuration>